$color-accent-50: #fdf3d9;
$color-accent-100: #ffe7ac;
$color-accent-150: #ffd150;
$color-accent-200: #e8b929;
$color-accent-300: #d1a408;
$color-accent-400: #b18d21;
$color-accent-500: #8d711a;
$color-accent-600: #785e10;
$color-accent-700: #57440b;
$color-accent-800: #342908;
$color-accent-900: #1f1805;
$color-accent-1000: #0e0901;
$color-brand-primary-50: #edf4fe;
$color-brand-primary-100: #dcebfe;
$color-brand-primary-150: #bad7fc;
$color-brand-primary-200: #95c3fc;
$color-brand-primary-300: #70acf6;
$color-brand-primary-400: #4894ee;
$color-brand-primary-500: #0f73d7;
$color-brand-primary-600: #2263ae;
$color-brand-primary-700: #17477d;
$color-brand-primary-800: #052a53;
$color-brand-primary-900: #021936;
$color-brand-primary-1000: #00091c;
$color-brand-secondary-50: #edf4fe;
$color-brand-secondary-100: #dcebfe;
$color-brand-secondary-150: #bad7fc;
$color-brand-secondary-200: #95c3fc;
$color-brand-secondary-300: #70acf6;
$color-brand-secondary-400: #4894ee;
$color-brand-secondary-500: #0f73d7;
$color-brand-secondary-600: #2263ae;
$color-brand-secondary-700: #17477d;
$color-brand-secondary-800: #052a53;
$color-brand-secondary-900: #021936;
$color-brand-secondary-1000: #00091c;
$color-error-50: #fef0ee;
$color-error-100: #fde2df;
$color-error-150: #fcc5be;
$color-error-200: #fca59c;
$color-error-300: #f78278;
$color-error-400: #f2544e;
$color-error-500: #d61c25;
$color-error-600: #b22123;
$color-error-700: #7f1c1b;
$color-error-800: #53090a;
$color-error-900: #340505;
$color-error-1000: #1a0202;
$color-highlight-bg: #3d97fa;
$color-highlight-border: #3d97fa;
$color-highlight-icon: #ffffff;
$color-highlight-text: #ffffff;
$color-info-50: #edf4fe;
$color-info-100: #dcebfe;
$color-info-150: #bad7fc;
$color-info-200: #95c3fc;
$color-info-300: #70acf6;
$color-info-400: #4894ee;
$color-info-500: #0f73d7;
$color-info-600: #2263ae;
$color-info-700: #17477d;
$color-info-800: #052a53;
$color-info-900: #021936;
$color-info-1000: #00091c;
$color-jackpot-bg: #37de95;
$color-jackpot-border: #37de95;
$color-jackpot-icon: #010101;
$color-jackpot-text: #010101;
$color-live-bg: #d4212e;
$color-live-border: #d4212e;
$color-live-icon: #d4212e;
$color-live-text: #d4212e;
$color-neutral-50: #f2f2f2;
$color-neutral-100: #e1e1e1;
$color-neutral-150: #d1d1d1;
$color-neutral-200: #bebebe;
$color-neutral-300: #a8a8a8;
$color-neutral-400: #929292;
$color-neutral-500: #747474;
$color-neutral-600: #585858;
$color-neutral-700: #3d3d3d;
$color-neutral-800: #262626;
$color-neutral-900: #141414;
$color-neutral-1000: #090909;
$color-neutral-alpha-0: rgba(255, 255, 255, 0.15);
$color-neutral-alpha-100: rgba(38, 38, 38, 0.07);
$color-neutral-alpha-150: rgba(38, 38, 38, 0.11);
$color-neutral-alpha-400: rgba(38, 38, 38, 0.45);
$color-neutral-alpha-800: rgba(38, 38, 38, 0.8);
$color-neutral-black: #010101;
$color-neutral-white: #ffffff;
$color-promo-bg: #feac2e;
$color-promo-border: #feac2e;
$color-promo-icon: #010101;
$color-promo-text: #010101;
$color-special-bg: #7d3ab9;
$color-special-border: #7d3ab9;
$color-special-icon: #ffffff;
$color-special-text: #ffffff;
$color-success-50: #ebf8ec;
$color-success-100: #d8f1db;
$color-success-150: #b3e3ba;
$color-success-200: #8cd498;
$color-success-300: #5bc373;
$color-success-400: #22ae51;
$color-success-500: #0b8c3d;
$color-success-600: #167535;
$color-success-700: #025622;
$color-success-800: #053414;
$color-success-900: #051f0b;
$color-success-1000: #010e03;
$color-warning-50: #fdf3d9;
$color-warning-100: #ffe7ac;
$color-warning-150: #ffd150;
$color-warning-200: #e8b929;
$color-warning-300: #d1a408;
$color-warning-400: #b18d21;
$color-warning-500: #8d711a;
$color-warning-600: #785e10;
$color-warning-700: #57440b;
$color-warning-800: #342908;
$color-warning-900: #1f1805;
$color-warning-1000: #0e0901;
$content-brand: eloterie;
$content-typography-body-caption-font: Titillium Web;
$content-typography-body-caption-weight: Regular;
$content-typography-body-caption-bold-font: Titillium Web;
$content-typography-body-caption-bold-weight: Bold;
$content-typography-body-micro-caption-font: Titillium Web;
$content-typography-body-micro-caption-weight: Regular;
$content-typography-body-micro-caption-bold-font: Titillium Web;
$content-typography-body-micro-caption-bold-weight: Bold;
$content-typography-body-p-font: Titillium Web;
$content-typography-body-p-weight: Regular;
$content-typography-body-p-bold-font: Titillium Web;
$content-typography-body-p-bold-weight: Bold;
$content-typography-body-p-lead-font: Titillium Web;
$content-typography-body-p-lead-weight: Regular;
$content-typography-body-p-lead-bold-font: Titillium Web;
$content-typography-body-p-lead-bold-weight: SemiBold;
$content-typography-body-p-medium-font: Titillium Web;
$content-typography-body-p-medium-weight: Medium;
$content-typography-display-d1-font: Titillium Web;
$content-typography-display-d1-weight: Bold;
$content-typography-display-d2-font: Titillium Web;
$content-typography-display-d2-weight: Bold;
$content-typography-heading-h1-font: Titillium Web;
$content-typography-heading-h1-weight: Bold;
$content-typography-heading-h2-font: Titillium Web;
$content-typography-heading-h2-weight: Bold;
$content-typography-heading-h3-font: Titillium Web;
$content-typography-heading-h3-weight: Bold;
$content-typography-interaction-button-font: Titillium Web;
$content-typography-interaction-button-weight: Bold;
$content-typography-interaction-link-font: Titillium Web;
$content-typography-interaction-link-weight: Bold;
$content-typography-interaction-micro-button-font: Titillium Web;
$content-typography-interaction-micro-button-weight: Bold;
$content-typography-interaction-micro-link-font: Titillium Web;
$content-typography-interaction-micro-link-weight: Bold;
